//html
//{
//    overflow-x:hidden;
//}
.tariff-plan
{
    &.banner
    {
        position: relative;
        margin-bottom: 20px;
        img
        {
            width: 100%;
        }
        h3.banner-title
        {
            font-size: 30px;
            color: #fff;
            position: absolute;
            top: 50%;
            margin-top: -13px;
            left: 0;
            right: 0;
            text-align: center;
            font-weight: 700;
        }
    }
    .account-items
    {
        margin-bottom: 35px;

        .account-item
        {
            width: calc(100% / 4.05 - 18.5px);
            box-shadow: 1px 2px 10px 0.00px rgba(0, 0, 0, 0.16);
            background: #fff;
            display: inline-block;
            margin-top: 20px;
            margin-right: 25px;
            padding: 30px 40px;
            text-align: center;
            vertical-align: top;

            &:nth-of-type(4n)
            {
                margin-right: 0;
            }
        }

        h5.title
        {
            font-size: 18px;
            font-weight: 600;
            color: #000;
        }
        h4.price
        {
            font-size: 30px;
            color: #f2c510;
            font-weight: 700;
            margin: 30px 0;

            &.urgent
            {
                color: #e84c3c;
            }

            span
            {
                display: block;
                font-size: 14px;
                font-weight: 400;
                color: #000;
            }
        }
        p.text
        {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 35px;
        }
        a.button
        {
            background: -webkit-linear-gradient(90deg, #3a7cd5 0%, #3498db 100%);
            background: -moz-linear-gradient(90deg, #3a7cd5 0%, #3498db 100%);
            background: -o-linear-gradient(90deg, #3a7cd5 0%, #3498db 100%);
            background: -ms-linear-gradient(90deg, #3a7cd5 0%, #3498db 100%);
            background: linear-gradient(0deg, #3a7cd5 0%, #3498db 100%);
            border-radius: 5px;
            width: 177px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            display: table;
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            margin: 0 auto;

        }
    }
}
.messages-page
{
    h3.title
    {
        font-size: 20px;
        font-weight: 700;
        color: #010101;
        display: inline-block;
        vertical-align: middle;
        margin-top: 30px;
    }
    .button
    {
        width: 165px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        background: -webkit-linear-gradient(90deg, #3a7cd5 0%, #3498db 100%);
        background: -moz-linear-gradient(90deg, #3a7cd5 0%, #3498db 100%);
        background: -o-linear-gradient(90deg, #3a7cd5 0%, #3498db 100%);
        background: -ms-linear-gradient(90deg, #3a7cd5 0%, #3498db 100%);
        background: linear-gradient(0deg, #3a7cd5 0%, #3498db 100%);
        border-radius: 5px;
        text-align: center;
        display: inline-block;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        margin-left: 40px;
        vertical-align: middle;
        margin-top: 30px;
    }
    .messages-block
    {
        background-color: #ffffff;
        box-shadow: 1px 2px 10px 0.00px rgba(0, 0, 0, 0.16);
        height: 680px;
        border: 1px solid #d8d8d8;
        margin: 30px 0 60px;

    }
    .messages-block-left
    {
        width: 473px;
        height: 100%;
        display: inline-block;
        border-right: 1px solid #d8d8d8;
        vertical-align: top;

        .messages-content
        {
            max-height: 585px;
            overflow-y: auto;
        }

        .messages-content
        {
            li
            {
                &.not-read
                {
                    background-color: #f6f6f6;
                }

                &.active
                {
                    background-color: #3396d8;
                }
            }
        }
    }
    .messages-block-right
    {
        display: inline-block;
        width: calc(100% - 473px);
        vertical-align: top;
        margin-left: -5px;
        position: relative;
        height: 100%;

        .messages-content
        {
            max-height: 469px;
            overflow-y: auto;

            li
            {
                line-height: 40px;
            }
            img
            {
                vertical-align: top;
                margin-top: 18px;
                &+ div
                {
                    vertical-align: inherit;
                    padding: 10px 0;
                }
            }
            div
            {
                vertical-align: top;
            }
            .checkbox
            {
                margin-top: 25px;
            }
            p.text
            {
                text-overflow: inherit;
                white-space: inherit;
                overflow: inherit;
            }
        }

        .send-messages
        {
            border-top:1px solid #d8d8d8;
            padding: 20px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: #fff;
            textarea
            {
                height: 74px;
                width: 100%;
                padding: 10px 15px ;
                font-size: 14px;
                font-weight: 300;
                color: #000;
                font-style: italic;
                border:1px solid #d8d8d8;
                margin-bottom: 20px;
            }
            .add-file
            {
                position: relative;
                display: inline-block;
                input[type='file']
                {
                    font-size: 0;
                    width: 43px;
                    height: 30px;
                    cursor: pointer;
                    display: none;
                }
                label
                {
                    width: 43px;
                    height: 30px;
                    background: -webkit-linear-gradient(90deg, #ededed 0%, #eeeeee 100%);
                    background: -moz-linear-gradient(90deg, #ededed 0%, #eeeeee 100%);
                    background: -o-linear-gradient(90deg, #ededed 0%, #eeeeee 100%);
                    background: -ms-linear-gradient(90deg, #ededed 0%, #eeeeee 100%);
                    background: linear-gradient(0deg, #ededed 0%, #eeeeee 100%);
                    display: inline-block;
                    border-radius: 5px;
                    text-align: center;
                    line-height: 30px;
                    left: 0;
                    border:1px solid #d8d8d8;
                    cursor: pointer;
                    i:before
                    {
                        font-size: 18px;
                    }
                }
            }
            .button
            {
                border: none;
                float: right;
                margin-top: 0;
                height: 30px;
                line-height: 28px;
            }

        }

    }
    .messages-header
    {
        line-height: 52px;
        border-bottom: 1px solid #d8d8d8;

        .select
        {
            .custom-select-trigger
            {
                padding: 0 20px 0 50px;

                &:before
                {
                    content: '\f01c';
                    font-family:'FontAwesome';
                    position: absolute;
                    left: 18px;
                    font-size: 20px;
                }
            }
        }
    }
    .messages-header-bottom
    {
        line-height: 40px;
        border-bottom: 1px solid #d8d8d8;

        a.button
        {
            background: -webkit-linear-gradient(90deg, #ededed 0%, #eeeeee 100%);
            background: -moz-linear-gradient(90deg, #ededed 0%, #eeeeee 100%);
            background: -o-linear-gradient(90deg, #ededed 0%, #eeeeee 100%);
            background: -ms-linear-gradient(90deg, #ededed 0%, #eeeeee 100%);
            background: linear-gradient(0deg, #ededed 0%, #eeeeee 100%);
            border-radius: 5px;
            width: 113px;
            height: 30px;
            line-height: 30px;
            border:1px solid #cfcfcf;
            font-size: 12px;
            float: right;
            color: #000;
            margin: 6px 15px 0 0;
        }
        .custom-select
        {
            background: -webkit-linear-gradient(90deg, #ededed 0%, #eeeeee 100%);
            background: -moz-linear-gradient(90deg, #ededed 0%, #eeeeee 100%);
            background: -o-linear-gradient(90deg, #ededed 0%, #eeeeee 100%);
            background: -ms-linear-gradient(90deg, #ededed 0%, #eeeeee 100%);
            background: linear-gradient(0deg, #ededed 0%, #eeeeee 100%);
            border:1px solid #cfcfcf;
            border-radius: 5px;
            line-height: 28px;
            vertical-align: middle;

            .custom-select-trigger
            {
                font-size: 12px;
                color: #000;
                padding: 0 30px 0 15px;

                &:after
                {
                    right: 13px;
                    width: 5px;
                    height: 5px;
                }
            }
        }
    }
    .checkbox-menu
    {
        margin: 0 0 0 15px;
        padding: 0;
        height: 30px;
        line-height: 33px;
        padding: 0 25px 0 10px;
        width: auto;
        position: relative;
        border: 1px solid #cfcfcf;
        margin-right: 10px;
        &.active
        {
            .checkbox-menu-submenu
            {
                display: block;
            }

            &:after
            {
                margin-top: 3px;
                transform: rotate(-135deg) translateY(-50%);
            }
        }
        &:after
        {
            position: absolute;
            display: block;
            content: '';
            width: 5px;
            height: 5px;
            top: 50%;
            right: 9px;
            margin-top: -1px;
            border-bottom: 1px solid #000;
            border-right: 1px solid #000;
            transform: rotate(45deg) translateY(-50%);
            transition: all .4s ease-in-out;
            transform-origin: 50% 0;
        }
    }
    .messages-content
    {
        img
        {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            margin: 0 8px;

            &+ div
            {
                width: calc(100% - 84px );
            }
        }
        .checkbox
        {
                margin-top: -5px;
        }
        li
        {
            border-bottom: 1px solid #d8d8d8;
            line-height: 78px;
            padding: 0 20px;
        }
        h5.title
        {
            font-size: 15px;
            font-weight: 600;
            color: #000;

            span
            {
                font-size: 12px;
                font-weight: 300;
                font-style: italic;
                margin-left: 15px;
            }
        }
        p.text
        {
            font-size: 14px;
            font-weight: 300;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

        }
        div
        {
            display: inline-block;
            vertical-align: middle;
            line-height: 24px;

        }
    }
}
.my-profil
{
    .search
    {
        display: inline-block;
        margin-left: 40px;
        position: relative;

        &+a.button
        {
            width: 165px;
            height: 40px;
            line-height: 40px;
            border-radius: 5px;
            display: inline-block;
            float: right;
            background: -webkit-linear-gradient(90deg, #3a7cd5 0%, #3498db 100%);
            background: -moz-linear-gradient(90deg, #3a7cd5 0%, #3498db 100%);
            background: -o-linear-gradient(90deg, #3a7cd5 0%, #3498db 100%);
            background: -ms-linear-gradient(90deg, #3a7cd5 0%, #3498db 100%);
            background: linear-gradient(0deg, #3a7cd5 0%, #3498db 100%);
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            text-align: center;
            margin-top: 34px;
        }
        input[type="search"]
        {
            width: 360px;
            border: 1px solid #d3d3d3;
            height: 35px;
            padding:0 15px;
        }
        input[type="submit"]
        {
            font-size: 0;
            background: url(../images/search.png)no-repeat;
            background-position:  center 11px;
            background-size: 40%;
            border: none;
            width: 35px;
            height: 35px;
            position: absolute;
            right: 0;
            top: 0;

        }
    }
    .checkbox-menu
    {
        margin: 0 0 0 15px;
        padding: 0;
        height: 35px;
        line-height: 38px;
        padding: 0 25px 0 10px;
        width: auto;
        position: relative;
        border: 1px solid #cfcfcf;
        margin-right: 10px;
        &.active
        {
            .checkbox-menu-submenu
            {
                display: block;
            }

            &:after
            {
                margin-top: 3px;
                transform: rotate(-135deg) translateY(-50%);
            }
        }
        &:after
        {
            position: absolute;
            display: block;
            content: '';
            width: 5px;
            height: 5px;
            top: 50%;
            right: 9px;
            margin-top: -1px;
            border-bottom: 1px solid #000;
            border-right: 1px solid #000;
            transform: rotate(45deg) translateY(-50%);
            transition: all .4s ease-in-out;
            transform-origin: 50% 0;
        }
    }
    .financial-report
    {
        .nav
        {
            border:1px solid #eaeaea;

            li
            {
                display: inline-block;
                width: calc(100% / 3.05);
                text-align: center;
                line-height: 48px;
                position: relative;


                &:before
                {
                    content: '';
                    width: 5px;
                    height: 2px;
                    left: 45%;
                    bottom: 0;
                    background: #3497da;
                    visibility: hidden;
                    position: absolute;
                    transition: 0.2s ease all;
                    -moz-transition: 0.2s ease all;
                    -webkit-transition: 0.2s ease all;
                }
                &.active
                {
                    a
                    {
                        color: #3498db;
                    }

                    &:before
                    {
                        visibility: visible;
                        width: 100%;
                        left: 0;
                    }
                }
                a
                {
                    color: #000;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
        .th:nth-of-type(1),
        .td:nth-of-type(1)
        {
            width: 45.7% !important;

            p
            {
                display: inline-block;
            }
            .checkbox
            {
                vertical-align: middle;
                margin-top: -6px;
                margin-right: 30px;
            }
        }
        .th:nth-of-type(2),
        .td:nth-of-type(2)
        {
            width: 22.8% !important;
        }
        .th:nth-of-type(3),
        .td:nth-of-type(3)
        {
            width: 12.9% !important;
        }
    }

    .financial-report-header
    {
        height: 60px;
        line-height: 60px;

        .button.clear
        {
            margin-top: 10px;
        }
    }
    .input-group.date
    {
        input.form-control
        {
            height: 35px;
            margin-left: 20px;
        }
        .input-group-addon
        {
            line-height: 35px;
        }
    }
    .custom-select
    {
        background: -webkit-linear-gradient(90deg, #ededed 0%, #eeeeee 100%);
        background: -moz-linear-gradient(90deg, #ededed 0%, #eeeeee 100%);
        background: -o-linear-gradient(90deg, #ededed 0%, #eeeeee 100%);
        background: -ms-linear-gradient(90deg, #ededed 0%, #eeeeee 100%);
        background: linear-gradient(0deg, #ededed 0%, #eeeeee 100%);
        border:1px solid #cfcfcf;
        border-radius: 5px;
        line-height: 33px;
        vertical-align: middle;

        .custom-select-trigger
        {
            font-size: 12px;
            color: #000;
            padding: 0 30px 0 15px;

            &:after
            {
                right: 13px;
                width: 5px;
                height: 5px;
            }
        }
    }
    &.finance-reports
    {
        .financial-report
        {
            .th:nth-of-type(1)
            {
                padding-left: 75px
            }
            .th:nth-of-type(1),
            .td:nth-of-type(1)
            {
                width: 23.7% !important;
            }
            .th:nth-of-type(2),
            .td:nth-of-type(2)
            {
                width: 39.8% !important;
            }
            .td:nth-of-type(4),
            .th:nth-of-type(4)
            {
                text-align: right !important;
                width: 21.84% !important;
                padding-right: 20px !important;
            }
        }
    }
}

//START SELECT
.select
{
    display: inline-block;
    .custom-select
    {
        position: relative;
        display: inline-block;

        &-wrapper
        {
            position: relative;
            display: inline-block;
            user-select: none;

            select
            {
                display: none;
            }
        }
        &-trigger
        {
            position: relative;
            display: block;
            padding: 0 20px ;
            color: #3498db;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;

            &:after
            {
                position: absolute;
                display: block;
                content: '';
                width: 8px;
                height: 8px;
                top: 50%;
                right: 3px;
                margin-top: -1px;
                border-bottom: 1px solid #000;
                border-right: 1px solid #000;
                transform: rotate(45deg) translateY(-50%);
                transition: all .4s ease-in-out;
                transform-origin: 50% 0;
            }
        }
        &.opened
        {
            .custom-select-trigger:after
            {
                margin-top: 3px;
                transform: rotate(-135deg) translateY(-50%);
            }
            .custom-options
            {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
                transform: translateY(0);
            }
        }
    }


    .custom-options
    {
        z-index: 100;
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        right: 0;
        min-width: 100%;
        margin: 15px 0;
        border: 1px solid #b5b5b5;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: 0 2px 1px rgba(0,0,0,.07);
        background: #fff;
        transition: all .4s ease-in-out;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(-15px);


        &:before
        {
            position: absolute;
            display: block;
            content: '';
            bottom: 100%;
            right: 3px;
            top: -4px;
            width: 7px;
            height: 7px;
            margin-bottom: -4px;
            border-top: 1px solid #b5b5b5;
            border-left: 1px solid #b5b5b5;
            background: #fff;
            transform: rotate(45deg);
            transition: all .4s ease-in-out;
        }
        .custom-option
        {
            position: relative;
            display: block;
            text-align: center;
            border-bottom: 1px solid #b5b5b5;
            font-size: 14px;
            font-weight: 300;
            color: #b5b5b5;
            line-height: 47px;
            cursor: pointer;
            transition: all .4s ease-in-out;

            &:first-of-type
            {
                border-radius: 4px 4px 0 0;
            }
            &:last-of-type
            {
                border-bottom: 0;
                border-radius: 0 0 4px 4px;
            }
        }
        .custom-option:hover,
        .custom-option.selection
        {
            background: #f9f9f9;
        }
    }
    .option-hover:before
    {
        background: #f9f9f9;
    }
}
//END SELECT
.add-order
{
    #datetimepicker
    {
        display: inline-block;
        width: calc(100% - 53%);
        position: relative;

        input
        {
            margin-right: 0;
            width: 100%;
        }
        .input-group-addon
        {
            position: absolute;
            right: 10px;
            top: 14px;
        }
    }
}
@media only screen and (max-width: 1200px)
{
    .tariff-plan
    {
        .account-items
        {
            .account-item
            {
                padding: 30px 15px;
                width: calc(100% / 4.06 - 18.5px);
            }
        }

    }
    .my-profil
    {
        &.finance-reports
        {
            .financial-report
            {
                text-align: initial  !important;
                .th:nth-of-type(1)
                {
                    padding-left: 75px !important;
                }
            }
        }
        .financial-report
        {
            .th:nth-of-type(1),
            .td:nth-of-type(1)
            {
                width: 42.7% !important;
                text-align: left !important;
                padding-left: 20px !important;
            }
            .th:nth-of-type(4),
            .td:nth-of-type(4)
            {
                padding-right: 20px !important;
                text-align: right !important;
            }
        }
    }
}

@media only screen and (max-width: 992px)
{
    .tariff-plan
    {
        .account-items
        {
            .account-item
            {
                padding: 30px 40px;
                width: calc(100% / 2.05 - 6.5px);

                &:nth-of-type(2n)
                {
                    margin-right: 0;
                }
            }
        }
    }
    .messages-page
    {
        .messages-block-left
        {
            width: 330px;
        }
        .messages-block-right
        {
            width: calc(100% - 330px);
        }
    }
    .my-profil
    {
        .financial-report
        {
            .th:nth-of-type(1),
            .td:nth-of-type(1)
            {
                width: 41.7% !important;
                text-align: left !important;
                padding-left: 20px !important;

                .checkbox
                {
                    margin-right: 10px;
                }
            }
            .tr
            {
                .td
                {
                    p
                    {
                        font-size: 14px !important;
                    }
                }

            }
        }
        .search
        {
            & + a.button
            {
                float: initial;
                display: table;
                margin: 0px auto 35px;
            }
        }
    }
}
@media only screen and (max-width: 768px)
{


    .tariff-plan
    {
        &.banner
        {
            img
            {
                width: auto;
                height: 140px;
            }
        }


        .account-items
        {
            .account-item
            {
                padding: 30px 40px;
                width: calc(100% / 2.06 - 6.5px);

            }
        }
    }
    .messages-page
    {
        .messages-block-left
        {
            width: 100%;
        }
        .messages-block-right
        {
            display: none;
            width: 100%;
            margin-left: 0;

            .messages-header
            {
                .prev
                {
                    font-size: 18px;
                    font-weight: 600;
                    color: #3498db;
                    vertical-align: middle;
                    i:before
                    {
                        font-size: 24px;
                        color: #000;
                        vertical-align: middle;
                        top: -2px;
                        margin: 0 27px 0 20px;
                        position: relative;
                    }
                }
            }
        }
        h3.title
        {
            font-size: 24px;
            font-weight: 700;
            display: table;
            margin: 35px auto 25px;

            &+ .button
            {
                display: table;
                margin: 0 auto;
                width: 165px;
                height: 40px;
                line-height: 40px;
                font-size: 15px;
            }
        }
    }
    .have-questions
    {
        .icon-question
        {
            display: none !important;
        }
    }

    .my-profil
    {

        .checkbox-menu
        {
            .checkbox
            {
                top: 5px !important;
                margin-right: 0px !important;
            }
        }
        &.finance-reports
        {
            .financial-report
            {
                text-align: center !important;
                .checkbox
                {
                    top: 0px;
                    margin-right: 20px;
                    vertical-align: top;


                }
                .tr
                {
                    text-align: left;
                    padding: 10px 0 0;
                    line-height: 30px;
                    .td:nth-of-type(2)
                    {
                        padding-left: 15px !important;
                        width: calc(100% - 155px) !important;
                    }
                }
                .th:nth-of-type(1),
                .td:nth-of-type(1),
                .th:nth-of-type(2),
                .td:nth-of-type(2)
                {
                    display: inline-block !important;
                    text-align: left !important;
                    margin-bottom: 0;
                    line-height: 24px;
                    vertical-align: top;
                    p
                    {
                        display: inline-block;
                    }
                }
                .th:nth-of-type(1)
                {
                    width: 150px !important;
                    padding-left: 30px !important;
                }

                .tables
                {
                    display: none !important;
                }
            }


        }
        .search
        {
            margin-bottom: 35px;
        }
        .financial-report
        {
            .checkbox
            {

                &+p
                {
                    width: calc(100% - 44px);
                    vertical-align: top;
                }
            }
            .nav
            {
                li
                {
                    width: 100%;
                }
            }
            .tables
            {
                .tr
                {
                    div.td:nth-of-type(2)
                    {
                        padding-left: 53px !important;
                    }
                }
            }

        }
        .financial-report-header
        {
            height: 130px;
            border-bottom: 1px solid #d9d9d9;
            .button
            {
                float: initial !important;
                margin: 8px auto 0 !important;
                display: table;
            }
        }
        .financial-report
        {
            .tables
            {
                display: block !important;

                .tr:first-child
                {
                    display: none;
                }
            }
            .tr
            {
                padding:  20px 0;
                .th,
                .td
                {
                    width: 100% !important;
                    display: block;
                    p
                    {
                        text-align: left;
                        font-size: 16px !important;
                    }

                    &:nth-of-type(2),
                    &:nth-of-type(3),
                    &:nth-of-type(4)
                    {
                        padding-left: 53px !important;
                    }
                }
                .td
                {
                    margin-bottom: 10px;
                }
            }

        }
    }
}
@media only screen and (max-width: 590px)
{
    .tariff-plan
    {
        &.banner
        {
            h3.banner-title
            {
                margin-top: -30px;
                padding: 0 20px;
            }
        }

        .account-items
        {
            .account-item
            {
                padding: 30px 10px;
                width: calc(100% / 2.076 - 6.5px);

            }
        }
    }
}
@media only screen and (max-width: 479px)
{
    .tariff-plan
    {
        &.banner
        {
            h3.banner-title
            {
                font-size: 27px;
                padding: 0 10px;
            }
        }

        .account-items
        {
            .account-item
            {
                padding: 30px 40px;
                width: 100%;

            }
        }
    }
    .my-profil
    {

        &.finance-reports
        {
            .financial-report
            {
                .td:nth-of-type(2)
                {
                    p
                    {
                        font-size: 14px !important;
                    }
                }
            }
        }
        .input-group.date
        {


            input.form-control
            {
                width: 110px;
                font-size: 12px;
                height: 39px;

            }
        }
        .financial-report-header
        {
            .button.clear
            {
                width: 130px;
                font-size: 12px;
                display: inline-block
            }
        }
        .input-group.date
        {
            input.form-control
            {
                margin-left: 0;
            }
        }
        .search
        {
            margin-left: 0;
            width: 100%;

            input[type="search"]
            {
                width: 90%;
                font-size: 12px;
            }
        }
    }

}
@media only screen and (max-width: 400px)
{
    section
    {
        .balances
        {
            a.button
            {
                width: 280px !important;
            }
             h2.title
            {
                font-size: 38px;
            }
            div
            {
                top: 35%;
            }

        }
    }
    .messages-page
    {
        .button
        {
            width: 123px;
            height: 30px;
            line-height: 30px;
            font-size: 13px;
            margin-left: 10px;
        }
        .messages-header-bottom
        {
            a.button
            {
                width: 80px;
                margin: 6px 10px 0 0;
                font-size: 10px;
            }
        }
        .messages-content h5.title span
        {
            margin-left: 0px;
            display: block;
        }
        .custom-select
        {
            .custom-select-trigger
            {
                font-size: 11px;
            }

        }
    }
    section
    {
        .have-questions
        {
            .button
            {
                width: 280px !important;
                font-size: 16px !important;
            }
        }
    }

}
@media only screen and (max-width: 380px)
{
    .messages-page
    {
        .financial-report-header
        {
            .button.clear
            {
                float: left;
            }
        }
    }
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 20px;
}
.modal-footer {
  padding: 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
