<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Freelacer Serch Page</title>
  <link rel="stylesheet" href="css/bootstrap-grid-3.3.1.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/icon.css">
  <link rel="stylesheet" href="css/slick-theme.css">
  <link rel="stylesheet" href="css/slick.css">
  <link href="css/jquery.tokenize.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/media.css">

</head>

<body>

  <!--START HEADER-->
  <header>
    <div class="header-block-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-5 col-sm-5 xs-hide">
            <!--лого-->
            <div class="logo">
              <a href="#"><img src="images/logo.png" alt=""></a>
            </div>
            <!--поле поиска-->
            <div class="search">
              <input type="search" placeholder="Поиск мастера">
              <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </div>
          <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 mobile-header">
            <!--мобильное меню-->
            <i class="fa fa-bars mobile-menu" aria-hidden="true"></i>
            <!--логотип для мобильного-->
            <div class="logo logo-mobile">
              <a href="#"><img src="images/logo.png" alt=""></a>
            </div>
            <div class="right-block">
              <!-- выбор языков -->
              <ul class="language">
                <li>
                  <a href="#">Рус<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="sub-menu">
                    <li><a href="#">Рус</a></li>
                    <li><a href="#">En</a></li>
                  </ul>
                </li>
              </ul>
              <!--просмотр баланса-->
              <ul class="balance">
                <li>
                  <a href="#">Баланс <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="sub-menu">
                    <li>
                      <p class="header-sub-menu">Балансы <span>10 000 грн.</span><i class="fa fa-times" aria-hidden="true"></i></p>
                      <ul>
                        <li class="active"><a href="#">Финансы</a></li>
                        <li><a href="#">История транзакций</a></li>
                        <li><a href="#">Вывод средств</a></li>
                        <li><a href="#">Пополнить счёт</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>

              <!--Баланс для мобильной версии (кошелек)-->
              <ul class="balance-mobile">
                <li>
                  <a href="#">
                    <i class="icon-wallet1" aria-hidden="true"></i>
                  </a>
                  <ul class="sub-menu">
                    <li>
                      <p class="header-sub-menu">Балансы <span>10 000 грн.</span><i class="fa fa-times" aria-hidden="true"></i></p>
                      <ul>
                        <li class="active"><a href="#">Финансы</a></li>
                        <li><a href="#">История транзакций</a></li>
                        <li><a href="#">Вывод средств</a></li>
                        <li><a href="#">Пополнить счёт</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
              <!--сообщения-->
              <ul class="messages icon-messages">
                <li>
                  <a href="#">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    <span>2</span>
                  </a>
                  <ul class="sub-menu">
                    <li>
                      <p class="header-sub-menu">Сообщения<i class="fa fa-times" aria-hidden="true"></i></p>
                      <ul>
                        <li>
                          <a href="#">
                            <img src="images/photo-2.png" alt="">
                          </a>
                          <a href="#">
													Андрей Андреев
													<p class="text-hidden">Добрый вечер, заинтересовался вашим проф</p>
												</a>
                        </li>

                        <li>
                          <a href="#">
                            <img src="images/photo-2.png" alt="">
                          </a>
                          <a href="#">
													Андрей Андреев
													<p class="text-hidden">Добрый вечер, заинтересовался вашим проф заинтересовался вашим проф</p>
												</a>
                        </li>

                        <li>
                          <a href="#">
                            <img src="images/photo-2.png" alt="">
                          </a>
                          <a href="#">
													Андрей Андреев
													<p class="text-hidden">Добрый вечер, заинтересовался вашим проф</p>
												</a>
                        </li>

                        <li>
                          <a href="#">
                            <img src="images/photo-2.png" alt="">
                          </a>
                          <a href="#">
													Андрей Андреев
													<p class="text-hidden">Добрый вечер, заинтересовался вашим проф</p>
												</a>
                        </li>
                      </ul>
                      <a href="#" class="all-messages">Смотреть все сообщения</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <!-- предупреждения (колокольчик)-->
              <ul class="notify">
                <li>
                  <a href="#">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                    <span>1</span>
                  </a>
                </li>
              </ul>
              <!-- пользователь-->
              <ul class="user">
                <li>
                  <a href="#">
                    <img src="images/photo-2.png" alt="">
                    <i class="fa fa-angle-down xs-hide" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-block-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--меню-->
            <ul class="menu">
              <li><a href="#">Мои проекты</a></li>
              <li><a href="#">Искать работу</a></li>
              <li><a href="#">Найти мастера</a></li>
              <li><a href="#">Помощь</a></li>
              <li><a href="#">Тарифные планы</a></li>
            </ul>
            <!--местоположение-->
            <a href="#" class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Моё местоположение</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--END HEADER-->

  <!--START CONTENT-->

  <section ng-app="app" ng-controller="RatingController as rating" class="container-star">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2 class="title">Поиск мастера</h2>
          <form action="" class="freelancer-search">
            <label for="">Выберите категории</label>
            <div class="input cat">
              <select name="" id="tokenize" multiple="multiple" class="tokenize-sample">
                  <option value="1">Диагностика  двигателей</option>
                  <option value="2">Общая диагностика</option>
                  <option value="3">Рихтовка</option>
                  <option value="4">Шиномантаж</option>
                  <option value="5">Диагностика ходовой</option>
                  <option value="6">Покраска</option>
                  <option value="7">Сварка</option>
                  <option value="8">Балансировка колес</option>
                  <option value="9">Ремонт ходовой</option>
                  <option value="10">Ремонт двигателей</option>
                  <option value="11">Электрика</option>
                  <option value="12">Тюниниг</option>
                  <option value="13">Предпродажная подготовка</option>
                  <option value="14">Химчистка</option>
                  <option value="15">Пошив салона</option>
                  <option value="16">Реставрация салона</option>
                  <option value="17">Медвежатники</option>
                  <option value="18">Эвакуаторы</option>
                  <option value="19">Мастер на выезд</option>
                  <option value="20">Аренда помещения под ремонт</option>
                  <option value="21">Аренда инструментов</option>
                </select>
            </div>
            <div class="select">
              <select name="" id="">
                <option value="">Рейтинг мастера</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
              </select>
            </div>
            <div class="input location-input">
              <input type="text" placeholder="Фильтр по местоположению">
            </div>
            <input type="reset" value="Очистить фильтры">
            <input type="submit" value="Поиск" class="button">
          </form>
        </div>
      </div>
    </div>
    <hr class="sline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm12 col-xs-12 masters-message">
          <div class="select-search">
            <p>Результатов на странице</p>
            <select name="#" id="#">
              <option value="">16</option>
              <option value="">32</option>
              <option value="">64</option>
              <option value="">100</option>
            </select>
          </div>
          <ul class="pogination search top">
            <li><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
          </ul>
          <div class="clearfix"></div>
          <div class="search-user row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
             <div class="item">
              <img class="photo" src="images/photo-2.png" alt="">
              <h3 class="name">Анатолий Складской</h3>
              <div star-rating ng-model="rating.rating8" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
             <div class="item">
              <img class="photo" src="images/photo-2.png" alt="">
              <h3 class="name">Анатолий Складской</h3>
              <div star-rating ng-model="rating.rating8" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
             <div class="item">
              <img class="photo" src="images/photo-2.png" alt="">
              <h3 class="name">Анатолий Складской</h3>
              <div star-rating ng-model="rating.rating8" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
             <div class="item">
              <img class="photo" src="images/photo-2.png" alt="">
              <h3 class="name">Анатолий Складской</h3>
              <div star-rating ng-model="rating.rating8" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
             <div class="item">
              <img class="photo" src="images/photo-2.png" alt="">
              <h3 class="name">Анатолий Складской</h3>
              <div star-rating ng-model="rating.rating8" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
             <div class="item">
              <img class="photo" src="images/photo-2.png" alt="">
              <h3 class="name">Анатолий Складской</h3>
              <div star-rating ng-model="rating.rating8" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cat-hide">
             <div class="item">
              <img class="photo" src="images/photo-2.png" alt="">
              <h3 class="name">Анатолий Складской</h3>
              <div star-rating ng-model="rating.rating8" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cat-hide">
             <div class="item">
              <img class="photo" src="images/photo-2.png" alt="">
              <h3 class="name">Анатолий Складской</h3>
              <div star-rating ng-model="rating.rating8" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cat-hide">
             <div class="item">
              <img class="photo" src="images/photo-2.png" alt="">
              <h3 class="name">Анатолий Складской</h3>
              <div star-rating ng-model="rating.rating8" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cat-hide">
             <div class="item">
              <img class="photo" src="images/photo-2.png" alt="">
              <h3 class="name">Анатолий Складской</h3>
              <div star-rating ng-model="rating.rating8" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cat-hide">
             <div class="item">
              <img class="photo" src="images/photo-2.png" alt="">
              <h3 class="name">Анатолий Складской</h3>
              <div star-rating ng-model="rating.rating8" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cat-hide">
             <div class="item">
              <img class="photo" src="images/photo-2.png" alt="">
              <h3 class="name">Анатолий Складской</h3>
              <div star-rating ng-model="rating.rating8" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cat-hide">
             <div class="item">
              <img class="photo" src="images/photo-2.png" alt="">
              <h3 class="name">Анатолий Складской</h3>
              <div star-rating ng-model="rating.rating8" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cat-hide">
             <div class="item">
              <img class="photo" src="images/photo-2.png" alt="">
              <h3 class="name">Анатолий Складской</h3>
              <div star-rating ng-model="rating.rating8" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cat-hide">
             <div class="item">
              <img class="photo" src="images/photo-2.png" alt="">
              <h3 class="name">Анатолий Складской</h3>
              <div star-rating ng-model="rating.rating8" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cat-hide">
             <div class="item">
              <img class="photo" src="images/photo-2.png" alt="">
              <h3 class="name">Анатолий Складской</h3>
              <div star-rating ng-model="rating.rating8" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
              </div>
            </div>
            

          </div>
          <a href="#" class="show-more search"><i class="fa fa-refresh" aria-hidden="true"></i>Показать больше</a>
          <div class="select-search">
            <p>Результатов на странице</p>
            <select name="#" id="#">
              <option value="">16</option>
              <option value="">32</option>
              <option value="">64</option>
              <option value="">100</option>
            </select>
          </div>
          <ul class="pogination search bottom">
            <li><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <!--END CONTENT-->

  <!--START FOOTER-->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="logo"><img src="images/logo-footer.png" alt=""></div>
          <ul class="soc">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          </ul>
          <ul class="menu">
            <li><a href="#">Мои проекты</a></li>
            <li><a href="#">Искать работу</a></li>
            <li><a href="#">Найти мастера</a></li>
            <li><a href="#">Помощь</a></li>
            <li><a href="#">Тарифные планы</a></li>
          </ul>
          <div class="payment">
            <h5>Доступные способы оплаты</h5>
            <ul>
              <li><i class="icon-privat"></i>Приват 24</li>
              <li><i class="icon-yandex-monery"></i>ЯндексДеньги</li>
              <li><i class="fa fa-usd" aria-hidden="true"></i>LiqPay</li>
              <li><i class="fa fa-cc-visa" aria-hidden="true"></i>Visa</li>
              <li><i class="fa fa-cc-mastercard" aria-hidden="true"></i>Master card</li>
            </ul>
          </div>
          <div class="subscription">
            <h5>Подпишитесь на рассылку</h5>
            <input type="email" placeholder="Введите e-mail">
            <input type="submit" value="ОТПРАВИТЬ">
          </div>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit </p>
        </div>
      </div>
    </div>
  </footer>
  <!--END FOOTER-->
  <script src="js/jquery-2.1.4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
  <script type="text/javascript" src="js/jquery.tokenize.js" charset="UTF-8"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/common.js"></script>
</body>

</html>
