<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link rel="stylesheet" href="css/bootstrap-grid-3.3.1.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/icon.css">
  <link rel="stylesheet" href="css/slick-theme.css">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/media.css">

</head>

<body>

  <!--START HEADER-->
  <header class="landing-page">
    <div class="header-block-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-5 col-sm-5 xs-hide">
            <div class="logo">
              <a href="#"><img src="images/logo.png" alt="logo"></a>
            </div>
            <div class="search">
              <input type="search" placeholder="Поиск мастера">
              <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </div>
          <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 mob-header">
            <i class="fa fa-bars burger-menu" aria-hidden="true"></i>
            <ul class="mob-menu-landing">
              <li><a href="#">Мои проекты</a></li>
              <li><a href="#">Искать работу</a></li>
              <li><a href="#">Найти мастера</a></li>
              <li><a href="#">Помощь</a></li>
              <li><a href="#">Тарифные планы</a></li>
            </ul>
            <div class="logo logo-mobile">
              <a href="#"><img src="images/logo.png" alt=""></a>
            </div>
            <div class="right-block">

              <ul class="language">
                <li>
                  <a href="#">Рус<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="sub-menu">
                    <li><a href="#">Рус</a></li>
                    <li><a href="#">En</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="login">
                <li><a data-toggle="modal" data-target=".login-modal">Авторизоваться</a></li>
                <li><a href="#" data-toggle="modal" data-target=".register">Зарегистрироваться</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--END HEADER-->

  <!--START CONTENT-->
  <section ng-app="app" ng-controller="RatingController as rating" class="container-star landing">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1 class="title">Первая в Украине сеть для взаимного поиска и сотрудничества <br> СТО (Мастеров) и клиентов</h1>
          <a href="#" class="button">Найти мастера</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="slider-menu">
            <div class="item-slider">
              <a href="#">Диагностика двигателей</a>
            </div>
            <div class="item-slider">
              <a href="#">Диагностика ходовой</a>
            </div>
            <div class="item-slider">
              <a href="#">Общая диагностика</a>
            </div>
            <div class="item-slider">
              <a href="#">Покраска</a>
            </div>
            <div class="item-slider">
              <a href="#">Рихтовка</a>
            </div>
            <div class="item-slider">
              <a href="#">Сварка</a>
            </div>
            <div class="item-slider">
              <a href="#">Покраска</a>
            </div>
            <div class="item-slider">
              <a href="#">Шиномантаж</a>
            </div>
            <div class="item-slider">
              <a href="#">Медвежатники</a>
            </div>
            <div class="item-slider">
              <a href="#">Тюнинг</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="sline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2 class="title center">Лучшие мастера дигностики двигателей</h2>
          <div class="slider container-star" ng-app="app" ng-controller="RatingController as rating">
            <div class="item">
              <img class="photo" src="images/photo-1.png" alt="">
              <h3 class="name">Антон Кузьмин</h3>
              <div star-rating ng-model="rating.rating2" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div href="#" class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
            </div>
            <div class="item">
              <img class="photo" src="images/photo-1.png" alt="">
              <h3 class="name">Антон Кузьмин</h3>
              <div star-rating ng-model="rating.rating2" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div href="#" class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
            </div>
            <div class="item">
              <img class="photo" src="images/photo-1.png" alt="">
              <h3 class="name">Антон Кузьмин</h3>
              <div star-rating ng-model="rating.rating2" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div href="#" class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
            </div>
            <div class="item">
              <img class="photo" src="images/photo-1.png" alt="">
              <h3 class="name">Антон Кузьмин</h3>
              <div star-rating ng-model="rating.rating2" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div href="#" class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
            </div>
            <div class="item">
              <img class="photo" src="images/photo-1.png" alt="">
              <h3 class="name">Антон Кузьмин</h3>
              <div star-rating ng-model="rating.rating2" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div href="#" class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
            </div>
            <div class="item">
              <img class="photo" src="images/photo-1.png" alt="">
              <h3 class="name">Антон Кузьмин</h3>
              <div star-rating ng-model="rating.rating2" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div href="#" class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
            </div>
            <div class="item">
              <img class="photo" src="images/photo-1.png" alt="">
              <h3 class="name">Антон Кузьмин</h3>
              <div star-rating ng-model="rating.rating2" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div href="#" class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
            </div>
            <div class="item">
              <img class="photo" src="images/photo-1.png" alt="">
              <h3 class="name">Антон Кузьмин</h3>
              <div star-rating ng-model="rating.rating2" max="5" on-rating-select="rating.rateFunction(rating)"></div>
              <div class="by-rating">(по оценкам <span>150</span> пользователей)</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              <hr class="sline">
              <div href="#" class="city"><i class="fa fa-map-marker" aria-hidden="true"></i> Харьков</div>
              <a href="" class="button">Нанять</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="sline">
    <div class="why_us">
    <div class="container">
      <div class="row">
       <h2 class="title center">Почему мы?</h2>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div class="item">
            <img class="photo" src="images/photo-1.png" alt="">
            <h3 class="name">Преимущество</h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione placeat recusandae ipsam in aliquid, officia vero ab officiis magni.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div class="item">
            <img class="photo" src="images/photo-1.png" alt="">
            <h3 class="name">Преимущество</h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione placeat recusandae ipsam in aliquid, officia vero ab officiis magni.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div class="item">
            <img class="photo" src="images/photo-1.png" alt="">
            <h3 class="name">Преимущество</h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione placeat recusandae ipsam in aliquid, officia vero ab officiis magni.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div class="item">
            <img class="photo" src="images/photo-1.png" alt="">
            <h3 class="name">Преимущество</h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione placeat recusandae ipsam in aliquid, officia vero ab officiis magni.</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <hr class="sline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2 class="title center">Открытые работы по категориям</h2>

          <ul class="categories">
            <li><a href="#"><i class="icon-car_look"></i><b>Общая диагностика <span>(15)</span></b></a></li>
            <li><a href="#"><i class="icon-car_electronick"></i><b>Электрика <span>(8)</span></b></a></li>
            <li><a href="#"><i class="icon-car_sell"></i><b>Предпродажная <br> подготовка <span>(1)</span></b></a></li>
            <li><a href="#"><i class="icon-car_evacuator"></i><b>Эвакуаторы <span>(120)</span></b></a></li>
            <li class="mobile cat-hide"><a href="#"><i class="icon-car_engine"></i><b>Диагностика <br> двигателей <span>(250)</span></b></a></li>
            <li class="mobile cat-hide"><a href="#"><i class="icon-bumped-car"></i><b>Рихтовка <span>(25)</span></b></a></li>
            <li class="mobile cat-hide"><a href="#"><i class="icon-car_wash"></i><b>Химчистка <span>(120)</span></b></a></li>
            <li class="mobile cat-hide"><a href="#"><i class="icon-car_master"></i><b>Мастер на выезд <span>(8)</span></b></a></li>
            <li class="mobile cat-hide"><a href="#"><i class="icon-car_chassis"></i><b>Диагностика ходовой <span>(100)</span></b></a></li>
            <li class="mobile cat-hide"><a href="#"><i class="icon-welding"></i><b>Сварка <span>(8)</span></b></a></li>
            <li class="mobile cat-hide"><a href="#"><i class="icon-car_seat"></i><b>Реставрация салона <span>(8)</span></b></a></li>
            <li class="mobile cat-hide"><a href="#"><i class="icon-car_garage"></i><b>Аренда помещения <br> под ремонт <span>(8)</span></b></a></li>
            <li class="mobile cat-hide"><a href="#"><i class="icon-car_engine"></i><b>Ремонт двигателей <span>(120)</span></b></a></li>
            <li class="mobile cat-hide"><a href="#"><i class="icon-car_painting"></i><b>Покраска <span>(120)</span></b></a></li>
            <li class="mobile cat-hide"><a href="#"><i class="icon-car_tuning"></i><b>Тюниниг <span>(8)</span></b></a></li>
            <li class="mobile cat-hide"><a href="#"><i class="icon-toolbox"></i><b>Аренда инструментов <span>(10)</span></b></a></li>
            <li class="mobile cat-hide"><a href="#"><i class="icon-car_chassis"></i><b>Ремонт ходовой <span>(100)</span></b></a></li>
            <li class="mobile cat-hide"><a href="#"><i class="icon-car_tires"></i><b>Шиномантаж <span>(25)</span></b></a></li>
            <li class="mobile cat-hide"><a href="#"><i class="icon-car_lock"></i><b>Медвежатники <span>(1)</span></b></a></li>
            <li class="mobile cat-hide"><a href="#"><i class="icon-gas"></i><b>установка/обслуживание гбо <span>(12)</span></b></a></li>
            <li class="mobile cat-hide"><a href="#"><i class="icon-another-orders"></i><b>Другие услуги <span>(145)</span></b></a></li>
          </ul>
          <span class="show-more visible-xs"><i class="fa fa-refresh" aria-hidden="true"></i> Показать больше</span>
        </div>
      </div>
    </div>
    <hr class="sline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul class="advantage">
            <li><span>10 000 +</span> выполненных работ</li>
            <li><span>1500</span> квалифированных мастеров</li>
            <li><span>5000 +</span> доступных работ</li>
            <li><span>1200 +</span> довольных клиентов</li>
          </ul>
          <a href="" class="button">Стать мастером</a>
        </div>
      </div>
    </div>
  </section>
  <!--END CONTENT-->

  <!--START FOOTER-->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="logo"><img src="images/logo-footer.png" alt=""></div>
          <ul class="soc">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a></li>
          </ul>
          <ul class="menu">
            <li><a href="#">Мои проекты</a></li>
            <li><a href="#">Искать работу</a></li>
            <li><a href="#">Найти мастера</a></li>
            <li><a href="#">Помощь</a></li>
            <li><a href="#">Тарифные планы</a></li>
          </ul>
          <div class="payment">
            <h5>Доступные способы оплаты</h5>
            <ul>
              <li><i class="icon-privat"></i>Приват 24</li>
              <li><i class="icon-yandex-monery"></i>ЯндексДеньги</li>
              <li><i class="fa fa-usd" aria-hidden="true"></i>LiqPay</li>
              <li><i class="fa fa-cc-visa" aria-hidden="true"></i>Visa</li>
              <li><i class="fa fa-cc-mastercard" aria-hidden="true"></i>Master card</li>
            </ul>
          </div>
          <div class="subscription">
            <h5>Подпишитесь на рассылку</h5>
            <input type="email" placeholder="Введите e-mail">
            <input type="submit" value="ОТПРАВИТЬ">
          </div>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit </p>
        </div>
      </div>
    </div>
  </footer>
  <!--END FOOTER-->
  
  <!--START MODAL-->
  <div class="modal fade register" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Регистрация на сайте</h4>
          <i class="fa fa-times close" aria-hidden="true" data-dismiss="modal" aria-hidden="true"></i>
        </div>
        <form action="">
          <div class="radio-button">

            <p>
              <input id="test1" type="radio" name="radio">
              <label for="test1"></label>
              <i class="icon-simple-user"></i>
              <label for="test1">Заказчик</label>
            </p>

          </div>
          <p>или</p>
          <div class="radio-button">
            <p>
              <input id="test2" type="radio" name="radio" checked>
              <label for="test2"></label>
              <i class="icon-car_master"></i>
              <label for="test2">СТО (мастер)</label>
            </p>
          </div>
          <input type="text" placeholder="Имя">
          <input type="text" placeholder="Логин">
          <input type="email" placeholder="Электронная почта">
          <input type="text" placeholder="Телефон">
          <input type="password" placeholder="Пароль">
          <input type="password" placeholder="Повторите пароль">
          <input type="submit" value="Зарегистрироваться">
          <p>Регистрация через соц.сети</p>
          <ul class="soc">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a></li>
          </ul>
        </form>
      </div>
    </div>
  </div>
  
  <div class="modal fade login-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Вход</h4>
          <i class="fa fa-times close" aria-hidden="true" data-dismiss="modal" aria-hidden="true"></i>
        </div>
        <form action="">
          <input type="email" placeholder="Электронная почта">
          <input type="password" placeholder="Пароль">
          <input type="submit" value="Войти">
          <a href="#">Забыли пароль?</a>
          <p class="no-account">Ещё нет аккаунта? <a href="">Зарегестрируйтесь</a></p>
          <p>Войти через соц.сети</p>
          <ul class="soc">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a></li>
          </ul>
        </form>
      </div>
    </div>
  </div>
  <!--END MODAL-->
  
  <script src="js/jquery-2.1.4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/common.js"></script>
  <script type="text/javascript">
    $('.slider-menu').slick({
      slidesToShow: 6,
      slidesToScroll: 1,
      autoplay: false,
      infinite: true,
      focusOnSelect: true,
      arrows: true,
      responsive: [
        {
          breakpoint: 1199,
          settings: {
            slidesToShow: 4,
            infinite: true,
            dots: true
          }
            },
        {
          breakpoint: 820,
          settings: {
            slidesToShow: 3,

          }
            },
        {
          breakpoint: 580,
          settings: {
            slidesToShow: 2,
          }
            },
        {
          breakpoint: 400,
          settings: {
            slidesToShow: 1,
          }
            }

          ]
    });


    $('.show-more').click(function () {
      $('.categories .mobile').toggleClass('cat-hide');
    });
  </script>
</body>

</html>